/* Overall styling */
.App {
  text-align: center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: auto;
  color: #000;
}

.list {
  font-size: 2em;
  padding-top: 0;
  margin-top: 0;
  text-align: left;
  position: absolute;
  left: 57%;
  top: 20%;
}

.AddButton {
  color: red;
}

/* .App-header {
} */

/* Media queries for responsive design */
/* Extra Large Screens */
@media (max-width: 1600px) {
  .App {
    background-image: url('./media/landscape-background.jpg');
  }
}

/* Large tablets or small laptops */
@media (max-width: 1200px) {
  .App {
    background-image: url('./media/landscape-background.jpg');
  }
}

/* Regular sized tablets */
@media (max-width: 768px) {
  .App {
    background-image: url('./media/portrait-background.jpg');
  }
}

/* Regular sized phones */
@media (max-width: 480px) {
  .App {
    background-image: url('./media/portrait-background.jpg');
  }
}

/* Extra small devices */
@media (max-width: 380px) {
  .App {
    background-image: url('./media/portrait-background.jpg');
  }
}
