/* For some reason these styles aren't working in the custom.scss folder, so you wrote them here.*/
.list-group {
  min-width: 32%;
  width: 32%;
  height: 65%;
  position: absolute;
  left: 55%;
  top: 22%;
  text-align: left;
  padding-left: 10em;
  border: 1px solid black;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list-group::-webkit-scrollbar {
  display: none;
}

.item-fade-enter {
  opacity: 0.01;
}

.item-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-fade-exit {
  opacity: 1;
}

.item-fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
