/* Overall styling */
.App {
  text-align: center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: auto;
  color: #000;
}

.list-group {
  min-width: 32%;
  width: 32%;
  height: 65%;
  position: absolute;
  left: 55%;
  top: 22%;
  text-align: left;
  padding-left: 10em;
  border: 1px solid black;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list-group::-webkit-scrollbar {
  display: none;
}

#bakery {
  background-color: yellow;
}

#dairy {
  background-color: cyan;
}

#deli {
  background-color: orange;
}

#frozen {
  background-color: blue;
}

.AddButton {
  color: white;
  font-size: 5em;
  position: absolute;
  top: 75%;
  left: 39.5%;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.3em;
  border-radius: 50%;
}

/* Modal styles */
#modal {
  background: #000;
  opacity: 0.8;
  color: #fff;
}

#btn-close {
  border: 1px solid #fff;
}

#btn-close:hover {
  background-color: #198754;
  border: 1px solid #198754;
}

/* Media queries for responsive design */
/* Extra Large Screens */
@media (max-width: 1600px) {
  .App {
    background-image: url('./media/landscape-background.jpg');
  }
}

/* Large tablets or small laptops */
@media (max-width: 1200px) {
  .App {
    background-image: url('./media/landscape-background.jpg');
  }
}

/* Regular sized tablets */
@media (max-width: 768px) {
  .App {
    background-image: url('./media/portrait-background.jpg');
  }
  
  .List {
    top: 39%;
    left: 43%;
  }

  .AddButton {
    left: 18%;
  }
}

/* Regular sized phones */
@media (max-width: 480px) {
  .App {
    background-image: url('./media/portrait-background.jpg');
  }
}

/* Extra small devices */
@media (max-width: 380px) {
  .App {
    background-image: url('./media/portrait-background.jpg');
  }
}
