// Override default variables before the import
// Theme variables:
$danger: #D63931;

// Other variables:
$btn-close-color: #fff;
$modal-backdrop-opacity: 0.8;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// Import handwriting font
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

/* Overall styling */
.App {
    text-align: center;
    background-color: $white;
    height: 100vh;
    width: 100vw;
    color: $black;
  }

.Home {
  text-align: center;
  background-color: $white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  color: $black; 
}

/* Prompt styling */
.prompt {
  position: absolute;
  left: 57%;
  top: 25%;
  width: 10em;
  font-size: 2em;
  color: $danger;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.up-arrow {
  height: 28vh;
  position: absolute;
  left: 83%;
  top: 15%;
  animation: slideDown ease 3s;
  animation-iteration-count: 1;
}

@keyframes slideDown {
  0% {
    top: -15%;
  }
  100% {
    top: 15%;
  }
}

/* List styling */
.list-group {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.icon:hover {
    color: $white;
}

.icon:focus {
    color: $white;
}

#bakery {
  background-color: $yellow;
}

#dairy {
  background-color: $cyan;
}

#deli {
  background-color: $orange;
}

#frozen {
  background-color: $blue;
}

#household {
    background-color: $gray-700;
}

#meat {
    background-color: $red;
}

#pantry {
    background-color: $purple;
}

#pharmacy {
    background-color: $pink;
}

#produce {
    background-color: $green;
}

#seafood {
    background-color: $teal;
}

.item-fade-enter {
  opacity: 0.01;
}

.item-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-fade-exit {
  opacity: 1;
}

.item-fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.AddButton {
  color: white;
  font-size: 5em;
  position: absolute;
  top: 75%;
  left: 39.5%;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.3em;
  border-radius: 50%;
}
  
/* AddItemForm styles */
#modal {
  background: $black;
  opacity: 0.8;
  color: $white;
}

#btn-close {
  border: 1px solid $white;
}

#btn-close:hover {
  background-color: $success;
  border: 1px solid $success;
}

/* Signup Modal Styling */
#signup-modal {
  background: $black;
  color: $white;
  opacity: 0.8;
}

#signup-title {
    color: $danger;
}

/* AccountSuccess Styling */
#success-modal {
  background: $success;
  color: $white;
  opacity: 0.8;
}

/* Login Page styling */
.Login {
     background: $gray-800;
     height: 100vh;
 }

 #login-form {
     background: $dark;
     color: $white;
     position: absolute;
     text-align: left;
     top: 25%;
     width: 50vw;
     border-radius: 8px;
     padding: 1em;
 }

 #login-button {
     margin-right: 1em;
 }
  
  /* Media queries for responsive design */
  /* Extra Large Screens */
  @media (max-width: 1600px) {
    .Home {
        background-image: url('./media/landscape-background.jpg');
    }
  }
  
  /* Large tablets or small laptops */
  @media (max-width: 1200px) {
    .Home {
        background-image: url('./media/landscape-background.jpg');
    }
  }
  
  /* Regular sized tablets */
  @media (max-width: 768px) {
    .Home {
        background-image: url('./media/portrait-background.jpg');
    }
    
    .List {
      top: 39%;
      left: 43%;
    }
  
    .AddButton {
      left: 18%;
    }
  }
  
  /* Regular sized phones */
  @media (max-width: 480px) {
    .Home {
        background-image: url('./media/portrait-background.jpg');
    }
  }
  
  /* Extra small devices */
  @media (max-width: 380px) {
    .Home {
        background-image: url('./media/portrait-background.jpg');
    }
  }
  