// Override default variables before the import
// Theme variables:
$danger: #D63931;

// Other variables:
$btn-close-color: #fff;
$list-group-item-padding-x: 2em;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';