// Override default variables before the import
// Theme variables:
$danger: #D63931;

// Other variables:
$btn-close-color: #fff;
$modal-backdrop-opacity: 0.8;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import handwriting font
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

/* Overall styling */
.App {
    text-align: center;
    background-color: $white;
    height: 100vh;
    width: 100vw;
    color: $black;
  }

.Home {
  background-image: url('./media/landscape-background.jpg');
  text-align: center;
  background-color: $white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  color: $black; 
}

/* Prompt styling */
.prompt {
  position: absolute;
  left: 58%;
  top: 25%;
  width: 10em;
  font-size: 2em;
  color: $danger;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.up-arrow {
  height: 28vh;
  position: absolute;
  left: 83%;
  top: 15%;
  animation: slideDown ease 2s;
  animation-iteration-count: 1;
}

@keyframes slideDown {
  0% {
    top: -15%;
  }
  100% {
    top: 15%;
  }
}

/* List styling */
.list-group {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.icon:hover {
    color: $white;
}

.icon:focus {
    color: $white;
}

#bakery {
  background-color: $yellow;
}

#dairy {
  background-color: $cyan;
}

#deli {
  background-color: $orange;
}

#frozen {
  background-color: $blue;
}

#household {
    background-color: $gray-700;
}

#meat {
    background-color: $red;
}

#pantry {
    background-color: $purple;
}

#pharmacy {
    background-color: $pink;
}

#produce {
    background-color: $green;
}

#seafood {
    background-color: $teal;
}

.item {
  padding-left: 3em;
}

.item-fade-enter {
  opacity: 0.01;
}

.item-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-fade-exit {
  opacity: 1;
}

.item-fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.empty-list {
  position: absolute;
  left: 59%;
  top: 40%;
  width: 10em;
  font-size: 2em;
  color: $black;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.AddButton {
  color: white;
  font-size: 5em;
  position: absolute;
  top: 75%;
  left: 39.5%;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.3em;
  border-radius: 50%;
}
  
/* AddItemForm styles */
#modal {
  background: $black;
  opacity: 0.8;
  color: $white;
}

#btn-close {
  border: 1px solid $white;
}

#btn-close:hover {
  background-color: $success;
  border: 1px solid $success;
}

/* Signup Modal Styling */
#signup-modal {
  background: $black;
  color: $white;
  opacity: 0.8;
}

#signup-title {
    color: $danger;
}

/* AccountSuccess Styling */
#success-modal {
  background: $success;
  color: $white;
  opacity: 0.8;
}

/* Login Page styling */
.Login {
     background: $gray-800;
     height: 100vh;
 }

 #login-form {
     background: $dark;
     color: $white;
     position: absolute;
     text-align: left;
     top: 25%;
     width: 50vw;
     border-radius: 8px;
     padding: 1em;
 }

 #login-buttons {
     margin-right: 1em;
 }
  
  /* Media queries for responsive design */
  /* Extra Large Screens */
  @media (max-width: 2000px) {
    .Home {
        background-image: url('./media/landscape-background.jpg');
    }

    .prompt {
      font-size: 2.5em;
    }

    .AddButton {
      font-size: 5.5em;
    }

    #navbar-brand {
      font-size: 1.5em;
    }

    #navbar-signup, #navbar-login, #navbar-logout, #user-msg {
      font-size: 1em;
    }

    #login-form {
      font-size: 1.25em;
    }

    #login-button, #cancel-button, #forgot-password-button {
      font-size: 1em;
    }

    .empty-list {
      font-size: 2.25em;
    }
  }
  
  /* Large tablets or small laptops */
  @media (max-width: 1400px) {
    .Home {
        background-image: url('./media/landscape-background.jpg');
        height: 100vh;
        width: ´®100vw;
    }

    #navbar {
      width: 100vw;
      font-size: 1em;
    }

    .prompt {
      font-size: 2.5em;
      top: 50%;
      left: 45%;
    }

    #login-form {
      left: 25%;
      right: 25%;
    }
  }
  
  /* Regular sized tablets */
  @media (max-width: 1025px) {
    .Home {
        background-image: url('./media/portrait-background.jpg');
    }
    #navbar {
      width: 100vw;
      font-size: 1em;
    }

    .AddButton {
      font-size: 6em;
      left: 20%;
    }

    .prompt {
      font-size: 2.5em;
      top: 50%;
      left: 45%;
    }

    .up-arrow {
      display: none;
    }

    #login-form {
      left: 25%;
      right: 25%;
    }

    .list-group {
      font-size: 1em;
      width: 45vw;
      height: 45vh;
      left: 41%;
      top: 43%;
    }

    .empty-list {
      font-size: 2.5em;
      top: 50%;
      left: 45%;
    }
  }
  
  /* Regular sized phones */
  @media (max-width: 480px) {
    .Home {
        background-image: url('./media/portrait-background.jpg');
    }

    #navbar {
      width: 100vw;
      font-size: 0.75em;
    }

    .AddButton {
      font-size: 3.5em;
      left: 12%;
    }

    .prompt {
      font-size: 1em;
      top: 50%;
      left: 45%;
    }

    .up-arrow {
      display: none;
    }

    #login-form {
      width: 90vw;
      left: 5%;
    }

    #login-button, #cancel-button, #forgot-password-button {
      font-size: 0.9em;
    }

    #user-msg {
      display: none;
    }

    .list-group {
      font-size: 0.5em;
      width: 50vw;
      height: 41vh;
      left: 41%;
      top: 45%;
    }

    .item {
      padding-left: 1.5em;
    }

    .empty-list {
      font-size: 1em;
      top: 50%;
      left: 45%;
    }
  }
  
  /* Extra small devices */
  @media (max-width: 340px) {
    .Home {
        background-image: url('./media/portrait-background.jpg');
    }

    #navbar {
      width: 100vw;
      font-size: 0.75em;
    }

    .prompt {
      font-size: 0.75em;
      top: 50%;
      left: 45%;
    }

    .up-arrow {
      display: none;
    }

    .AddButton {
      font-size: 2.4em;
    }

    #login-form {
      width: 90vw;
      left: 5%;
    }

    #login-button, #cancel-button, #forgot-password-button {
      font-size: 0.65em;
    }

    #user-msg {
      display: none;
    }

    .list-group {
      font-size: 0.5em;
      width: 42vw;
      height: 41vh;
      left: 42.5%;
      top: 43%;
    }

    .item {
      padding-left: 0.09em;
    }

    .empty-list {
      font-size: 0.75em;
      top: 50%;
      left: 45%;
    }
  }
  
